[Unit]
After=network.target postgresql.service
Description=Kibou server

[Service]
; Replace the working directory and the executable
; paths according to your Kibou installation
; ------------------------------------------------
WorkingDirectory=/srv/kibou
ExecStart=/srv/kibou/target/release/kibou_server
; ------------------------------------------------

; Change the the environment
; -> Enum {production, development, staging}
; ------------------------------------------------
Environment="ROCKET_ENV=production"
; ------------------------------------------------

ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure
User=kibou

[Install]
WantedBy=multi-user.target
