[Unit]
After=network.target postgresql.service
Description=Kibou server

[Service]
; Replace the working directory and the executable
; paths according to your Kibou installation
; ------------------------------------------------
WorkingDirectory=/srv/kibou
ExecStart=/srv/kibou/target/release/kibou_server
; ------------------------------------------------

ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure
User=kibou

; Remove the following line if you do not wish to run
; Kibou in production
Environment="ROCKET_ENV=production"

[Install]
WantedBy=multi-user.target
